```{include} ../research/verification-2026-09.md
```
